<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠メニュー</title>
<style>
	body {
		outline: black 1px solid;
		width: 800px;
		height: 400px;
	}
</style>
</head>
<body>
<h1>勤怠メニュー</h1><br>
	<h3>社員検索</h3>
	<form method="post" th:object="${syain}">
		<div>
			<input type="text" th:field="*{syain_id}" id="syain_id1" placeholder="社員番号">
			<input type="submit" formaction="/syain" formmethod="post" value="社員情報表示">
			<input type="submit" formaction="/kihon" formmethod="post" value="基本情報編集（一覧表示）">
		</div>
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form><br>
	<span th:text="${message1}"></span>
	
	<table border="1" th:if="${syain.syain_id} != null ">
		<tr>
			<th>社員番号</th><td th:text="${syain.syain_id}"></td><th>氏名</th><td th:text="${syain.name}"></td><th>年齢</th><td th:text="${syain.age}"></td>
		</tr>
		<tr>
			<th>性別</th><td th:text="${syain.gender}"></td><th>生年月日</th><td th:text="${syain.birth}"></td><th>メールアドレス</th><td th:text="${syain.mail}"></td>
		</tr>
		<tr>
			<th>部署名１</th><td th:text="${syain.department1}"></td><th>部署名２</th><td th:text="${syain.department2}"></td><th></th><td></td>
		</tr>
	</table>
</body>
</html>