<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>基本契約情報選択画面</title>
</head>
<body>
	<h2>基本契約情報選択画面</h2>
	<br>
	<table border="1">
		<tr>
			<th>選択</th>
			<th>社員番号</th>
			<th>社員名</th>
			<th>契約開始日</th>
			<th>契約終了日</th>
			<th>勤務開始時間</th>
			<th>昼休憩時間</th>
			<th>勤務終了時間</th>
			<th>昼休憩開始時間</th>
			<th>昼休憩終了時間</th>
			<th>定時後休憩開始時間</th>
			<th>定時後休憩終了時間</th>
			<th>定時後休憩時間</th>
			<th>深夜休憩開始時間</th>
			<th>深夜休憩終了時間</th>
			<th>深夜休憩時間</th>
			<th>カウント</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</body>
</html>